//fonts
$font-logo:'Pacifico', sans-serif;;
$font: 'Raleway', sans-serif;

//colors
$header-bg: #F9F8FB;
$aboutus-bg: #00baba;
$services-bg: #70bfff;
$gallery-bg: #ffe92f;
$blog-bg: #b07cf7;
$footer-bg: #262626;

$gallery-bt: #5585a2;
$subscribe-bt: #96b92c;
$blog-bt: #f72b3b;
$contact-form: #00c4c4;

$contact-hover-color:#355b82;
//else

// grid
$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;